<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delete Category</title>
</head>
<body>
<h1> Delete Category</h1>
<a href="/categories">Categories list</a>
<th:block th:if="${message}">
<p th:text="${message}">

</p>
</th:block>
<form th:action="@{/delete-category}" th:object="${category}" th:method="post">
  <input th:type="hidden" name="id" th:field="*{id}">
<table>
    <tr>
        <td> Category</td>
        <td th:text="${category.nameCategory}"></td>
    </tr>
    <tr>
    <td><input th:type="submit" value="Delete category"></td>
</tr>
</table>
</form>
</body>
</html>