<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit</title>
</head>
<body>
<h1>EDIT BLOG</h1>
<p>
<a href="/blogs">Blogs list</a>
</p>
<th:block th:if="${message}">
<p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit}" th:object="${blog}" method="post">
 <input th:type="hidden" name="id" th:field="*{id}">
<table>
             <tr>
              <td>Status:   <textarea rows="10" cols="50" th:field="*{status}"></textarea></td>
             </tr>

            <tr>
                <td>Title:<input type="text" th:field="*{titleStatus}"/> </td>

            </tr>

            <tr>
                <td><input type="submit" value="UPDATE"/></td>

            </tr>
    </table>
</form>
</body>
</html>